@font-face {
    font-family: 'Carolina';
    src: url('/assets/fonts/Carolina.woff2') format('woff2'),
        url('/assets/fonts/Carolina.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Corinthia';
    src: url('/assets/fonts/Corinthia.woff2') format('woff2'),
        url('/assets/fonts/Corinthia.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* annimation */
@keyframes slideRight {
    from {
        left: -100%;
    }
    to {
        left: 45px;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes ticker{
    100%{
      transform: translateX(-100%);
    }
}
@keyframes fadeOut{
    0%{
        transform: scale(1);
        opacity: 1;
    }
    100%{
        transform: scale(1.5);
        opacity: 0;
    }
}
@keyframes slide {
    0% {
      top: 4px;
    }
    50%{
      top: 28px;
    }
    100% {
      top: 4px;
    }
  }
/* end annimation */
:root{
    --beige: #ae817e;
    --pink: #ce3d5f;
    --whatsapp: #128C7E;
    --telegram: #0088cc;
    --instagram: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
/* selection and scrollbar */
::selection{
    background: var(--beige);
    color: #fff;
  }
  
  ::-moz-selection{
    background: var(--beige);
    color: #fff; 
  }
  
  ::-o-selection{
    background: var(--beige);
    color: #fff; 
  }
  
  ::-ms-selection{
    background: var(--beige);
    color: #fff;
  }
  
  ::-webkit-scrollbar{
    width: 5px;
    background: #272627;
  }
  
  ::-webkit-scrollbar-thumb{background: var(--beige);}
  
/* end selection and scrollbar */

.mad_title_style1{
    color: var(--beige)!important;
}
body{
    position: relative;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
}
.loader{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    top: 0;
    left: 0;
    z-index: 99999;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hide{
    top: -100%;
}
.loader-logo{
    position: relative;
    overflow: hidden;
}
.loader-logo hr{
    color: inherit;
    border: 0;
    border-top: 2px solid var(--beige);
    opacity: 1;
    position: absolute;
    top: 115px;
    left: 45px;
    display: block;
    width: 50%;
    transition: all 0.3s;
    animation-name: slideRight;
    animation-duration: 3s;
}
.loader-logo object{
    width: 250px;
    height: auto;
    opacity: 1;
    animation-name: fadeIn;
    animation-duration: 3s;
}
.mad_title_style1{
    font-family: 'Corinthia';
    font-size: 82px;
}
/* hero bannner section */
.hero-banner h1{
    color: #fff;
    font-size: 60px;
}
.hero-banner h2 {
    font-family: 'Corinthia';
    color: var(--beige);
    font-size: 72px;
    font-weight: 300;
    margin-bottom: -20px;
}
.hero-banner h5 {
    margin-top: 20px;
}
.mad_button{
    background: var(--beige)!important;
}
/* end hero banner section */
.page-layout {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.65);
    z-index: 9;
    overflow: hidden;
}
.mobile-list li {
    
}
.social-mobile a{
    position: relative;
}
.social-mobile a span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}
.mobile-list li a{
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px 15px;
    text-align: start;
    color: #fff;
    background: #272627;
    border: 1px solid #eeeeee;
    font-family: 'Raleway', sans-serif;
    position: relative;
    font-weight: 600;
    transition: all 0.3s;
}
.hero-banner{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 1000px;
    width: 100%;
    background: purple;
    display: flex;
    align-items: center;
    position: relative;
}
.greeting-back{
    background: var(--beige);
    position: relative;
}
.pattern-overlay{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: url('/assets/images/pattern.png');
    background-repeat: repeat;
    opacity: 0.5;

}
.right-image,.left-image{
    min-height: 450px;
    position: relative;
}
.greeting-wrap{
    padding: 3rem;
    position: relative;
    z-index: 1;
}
.greeting-wrap h2{
    color: #fff;
    text-transform: uppercase;
    position: relative;
    
}
.greeting-wrap p{
    color: #fff;
}
.right-image:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background-image: url('/assets/images/face-mask.jpg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}
.left-image:after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 200%;
    height: 100%;
    background: url('/assets/images/massage-therapy.jpeg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}
blockquote p:before {
    content: url('/assets/icons/blockquote.svg');
    position: absolute;
    left: 0;
    top: -10px;
    color: #ce3d5f;
    font-size: 140px;
    font-family: 'Rochester', cursive;
    width: 52px;
    height: auto;
    background: none;
    font-style: normal;
}
blockquote .mad_author .mad_title_style2 {
    font-family: 'Raleway', sans-serif;
    font-size: 44px;
    font-weight: 600;
    margin-top: 20px;
    line-height: 20px;
    color: #27090d;
}
.paralax_image_bg2 {
    background: #dedede;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.paralax-layout{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.7;
}
/* hero ticker */
.hero-ticker-wrap{
    overflow: hidden;
}
.hero-ticker-wrap .hero-ticker {
    box-sizing: border-box;
    height: 95px;
    width: fit-content;
    color: #fff;
    position: relative;
    transition: all 0.3s ease-in-out;
    border-bottom: 1px solid;
    border-top: 1px solid;
    padding: 10px 0;
}
.ticker-item {
    display: flex;
    align-items: center;
    height: 75px;
    overflow: hidden;
    transition: all 0.3s;
}
.ticker-item p{
    margin: 0;
    font-size: 30px;
    line-height: normal;
    font-weight: 400;
    color: var(--beige);
}
.item-hide{
    height: 0!important;
}
/* end hero ticker */
/* service list */
.service-list li{
    display: flex;
    padding: 10px 15px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dedede;
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out;
}
.service-list>li:hover {
    background: #ebe8e8;
}
.service-list li h4{
    margin-bottom: 10px;
    font-size: 22px;
    letter-spacing: -1px;
    font-weight: 400;
}
.service-list li .price{
    padding: 0 15px;
}
.service-list li .price span{
    font-size: 22px;
    font-weight: 400;
    color: #000;
}
.service-list li .price span::after{
    content: '₽';
    margin-left: 5px;
    font-size: 18px;
}
.service-list li p{
    margin-bottom: 0;
}
/* end service list */
/* owl navigation */
.owl-next span,.owl-prev span{display: none;}
.owl-next::before{content: '>'!important;}
.owl-prev::before{content: '<'!important;}
.mad_owl_next::before{content: '>'!important;}
.mad_owl_prev::before{content: '<'!important;}
/* tabs section */
.tabs_nav > li > span{
    cursor: pointer;
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    padding: 17px 25px;
    text-align: start;
    color: #fff;
    background: #272627;
    border: 1px solid #eeeeee;
    font-family: 'Raleway', sans-serif;
    position: relative;
    font-weight: 600;
    transition: all 0.3s;
  }
.tabs_nav > li > span.active{
    color: #fff;
    background: var(--beige);
}
.tabs_conrainer {
    border: 1px solid #eeeeee;
    min-height: 60px;
    display: flex;
    align-items: center;
    padding: 0 25px;
}
.tabs_conrainer p{
    color: #000;
    font-size: 18px;
    font-weight: bold;
}
#news .paralax_image_bg4{
    margin-bottom: 100px;
}
.logo img{
    height: 100px;
    width: auto;
}
.mobile-toggler{
    background: transparent;
    border: none;
    position: relative;
    z-index: 9999;
}
.mobile-toggler object{
    height: 20px;
    width: auto;
}
.mobile-toggler span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.mobile-menu {
    position: fixed;
    background: #272627;
    width: 70%;
    height: 100%;
    max-height: 100vh;
    z-index: 999;
    top: 75px;
    left: -100%;
    transition: all 0.3s;
}
.show-mobile{
    left: 0;
}
.social-mobile{
    display: flex;
    justify-content: start;
    align-items: center;
}
.mad_about{
    padding-top: 90px;
    padding-bottom: 0;
}
.mob-link-active{
    background: var(--beige)!important;
}
/* mobile social section */
.social-mobile{
    display: flex;
    justify-content: start;
    align-items: center;
}
.social-mobile a{
    margin-right: 10px;
    padding: 10px;
    border-radius: 10px;
}
.social-mobile a object{
    display: block;
    height: 20px;
    width: auto;
}
.social-mobile a.vk{
    background: #4c75a3;
}
.social-mobile a.wa{
    background: #128C7E;
}
.social-mobile a.inst{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
.social-mobile a.tg{
    background: #0088cc;
}
/* end mobile section */
.mad_item_hover.style2:hover .mad_item_desc .mad_author.style2 span{
    color: #fff!important;
}
.mad_author.style2 span{
    padding: 0!important;
}
.mad_author .style2{
    display: block!important;
}
.mad_title_style2{
    display: block;
    font-family: 'Corinthia'!important;
    letter-spacing: normal;
    margin-bottom: -10px;
}
.cont-list li{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.cont-list li object{
    margin-right: 10px;
}
.cont-list li a{
    color: #fff;
    line-height: normal;
}
.footer {
    background: #272627;
    min-height: 120px;
    padding: 30px 0;
    display: flex;
    align-items: center;
}
.footer-logo {
    padding: 30px 30px;
    position: absolute;
    top: -100px;
    background: var(--beige);
}
.footer-logo object{
    width: 200px;
}
.footer a{
    color:var(--beige);
}
.bg_pattern_red{
    background: var(--beige)!important;
}
.hero-banner video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    height: 100%;
}

/* contact list */
.contact-list{
    color: #000;
    padding: 20px 0;
}
.contact-list li{
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.contact-list li .icon{
    margin-right: 15px;
}
.contact-list li span{
    color: #fff;
    font-size: 32px;
    font-weight: 400;
}
.contact-list li span a{
    color: #fff;
    text-decoration: none;
}
.contact-list li span a:hover{
    color: #fff;
}
.contact-list li .icon object{
    height: 30px;
    width: 30px;
}
/* end contact list */
/* team styles */
.mad_item_hover.style2:hover .mad_item_desc{
    background: var(--beige)!important;
}
.cta-nav {
    height: 100%;
    width: 300px;
    display: block;
    border: 4px solid var(--beige);
    border-radius: 1rem;
    position: relative;
    transition: all 0.3s;
    cursor: pointer;
}
.cta-nav:hover{
    background: var(--beige);
}
.cta-nav .surprise {
    position: absolute;
    max-width: 100px;
    bottom: -20px;
    left: -50px;
}
.cta-nav .content {
    padding: 15px 10px 10px 60px;
}
.cta-nav .content h3 {
    margin-bottom: 10px;
    color: #fff;
    font-size: 30px;
    font-weight: 100;
    letter-spacing: normal;
}
.cta-modal-block{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    
}
.cta-modal-content{
    display: flex;
    min-height: 400px;
    border: 3px solid var(--beige);
    border-radius: 1rem;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 13px 27px -5px, rgba(255, 255, 255, 0.3) 0px 8px 16px -8px;
    background: rgba(0, 0, 0, 0.8);
}
.cta-modal-content .image {
    background: url('/assets/images/modal-img.jpg');
    height: 100%;
    min-height: 500px;
    min-width: 350px;
    border-radius: 13px 0 0 13px;
}
.cta-modal-content .content {
    padding: 35px;
}
.cta-modal-content .content h4{
    font-weight: 300;
}
.form-group label{
    color: #fff;
}
.form-input {
    background: transparent;
    color: #fff;
    border-color: var(--beige);
    border: 0;
    border-bottom: 1px solid var(--beige);
    border-radius: 0;
    transition: all 0.3s;
    height: 40px;
}
.form-input:focus{
    background: transparent;
    border-bottom: 2px solid var(--beige);
    box-shadow: none;
}
.submit-button {
    background: var(--beige);
    color: #fff;
    padding: 10px 15px;
    border: 1px solid;
}
.reset-button{
    background: transparent;
    color: var(--beige);
    border: 1px solid var(--beige);
    padding: 10px 15px;
}
.close-button {
    position: absolute;
    right: -20px;
    top: -20px;
    background: #fff;
    color: #000;
    font-weight: bold;
    padding: 5px 13px;
    border: 3px solid var(--beige);
    border-radius: 100%;
    cursor: pointer;
}
/* certificate ticker */
.ticker{
    position: absolute;
    left: 0;
    top: 0;
}
.ticker-list li{
    margin-right: 15px;
    position: relative;
    overflow: hidden;
}
.ticker-list li::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.75);
}
.ticker-list{
    animation: ticker 60s infinite linear;
  }
  .ticker-list li img{
    width: auto;
    max-width: none;
  }
/* end certificate ticker */
.social_icon_list .social-mobile a object{
    width: 20px;
}
/* cta-launcher */

.cta-claster{
    position: fixed;
    bottom: 50px;
    width: 100%;
    z-index: 99;
 }

 .launcher {
    position: absolute;
    width: 70px;
    height: 70px;
    border: 2px solid var(--beige);
    background: rgba(255,255,255,0.6);
    border-radius: 100%;
    bottom: 0;
    right: 0;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    font-weight: bold;
    cursor: pointer;
 }
 .launcher::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border: 5px solid var(--beige);
    width: 100%;
    height: 100%;
    border-radius: 100%;
    animation: fadeOut 1s infinite linear;
 }
 .launch-button object{
    fill: #634846!important;
    height: 40px;
 }
 .launch-button span{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
 }
 .cta-list {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 75px;
    opacity: 1;
    transition: all 0.3s;
 }
 .list-hide{
    bottom: 0;
    opacity: 0;
    visibility: hidden;
 }
 .cta-links{
    padding: 0;
    margin: 0;
    display: block;
 }
 .cta-links li{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
 }
 .list-item {
    min-height: 25px;
    width: 100%;
    border: 2px solid var(--beige);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
    position: relative;
 }
 .list-item::after {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: transparent;
    position: absolute;
    border-radius: 100%;
}
 .list-item.wa{
    background: var(--whatsapp);
    border-color: var(--whatsapp);
 }
 .list-item.tg{
    background: var(--telegram);
    border-color: var(--telegram);
 }
 .list-item.cell{
    background: var(--beige);
 }
 .list-item object{
    height: 25px;
    width: 25px;
 }
/* end cta-launcher */
.pluses{
    display: flex;
}
.pluses li{
    margin-right: 10px;
}
.slider-down{
    position: absolute;
    top: 0;
    opacity: 0.5;
    animation: slide 3s infinite linear;
}
.slider-down object{
    height: 55px;
}
@media (max-width:768px){
    .hero-ticker-wrap .hero-ticker {
        height: 70px;
        padding: 0;
    }
    .ticker-item{
        height: 70px;
    }
    .ticker-item p{
        font-size: 18px;
        font-weight: 500;
    }
    .launcher-obj{
        top: 30px;
    }
    .close-button {
        position: absolute;
        right: 15px;
        top: -20px;
        background: #fff;
        color: #000;
        font-weight: bold;
        padding: 5px 13px;
        border: 3px solid var(--beige);
        border-radius: 100%;
        cursor: pointer;
    }
    .cta-modal-content .content {
        padding: 25px;
    }
    .contact-list li {
        display: flex;
        align-items: center;
        padding: 0 0 20px 0;
    }
    .contact-list li span {
        color: #fff;
        font-size: 18px;
        font-weight: 400;
    }
    .footer {
    background: #272627;
    min-height: 110px;
    padding: 30px 0;
    }
    .footer-logo {
        padding: 30px 30px;
        position: absolute;
        top: -80px;
        background: #ce3d5f;
    }
    .footer-logo object {
    width: 80px;
    }
    .service-list li {
        display: flex;
        padding: 10px 10px;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #dedede;
        margin-bottom: 10px;
        transition: all 0.3s ease-in-out;
    }
    .service-list li h4{
        font-size: 18px;
    }
    #services3 .tabs.style2 .tabs_content {
        padding: 15px 10px;
    }
    .section_image{
        margin-bottom: 0!important;
    }
    .hero-banner h1 {
        color: #fff;
        font-size: 35px;
        margin-bottom: 10px;
    }
    .hero-banner h2 {
        color: var(--beige);
        font-size: 40px;
        font-weight: 300;
        margin-bottom: 0px;
    }
    .hero-banner h5 {
        margin-top: 10px;
    }
    .mad_title_style1{
        font-family: 'Corinthia';
        font-size: 40px;
    }
    .hero-banner {
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 800px;
        width: 100%;
        background: purple;
        display: flex;
        align-items: center;
        position: relative;
    }
    #news .paralax_image_bg4{
        margin-bottom: 100px;
    }
    .logo img{
        height: 55px;
        width: auto;
    }
    .menu_wrap{
        display: none!important;
    }
    #header.header-main{
        position: fixed!important;
    }
    .mad_top_header{
        padding: 10px 0;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }
    .logo{
        margin-bottom: 0!important;
    }
    .mad_section.inset_none{
        margin-top: 50px;
    }
    h2{
        font-size: 35px;
    }
    .tabs_nav{
        width: 100%!important;
    }
    .tabs_content{
        width: 100%!important;
    }
    .separator_type_5_path {
        height: 55px;
        width: 100%;
        position: absolute;
        bottom: -1px;
        left: 0;
        z-index: 4;
        padding: 0;
    }
    .mad_testimonials{
        padding-top: 0;
    }
    .greeting-wrap{
        padding: 50px 0;
    }
    .greeting-last{
        padding-top: 0!important;
    }
}