@font-face {
    font-family: 'Carolina';
    src: url('/assets/fonts/Carolina.woff2') format('woff2'),
        url('/assets/fonts/Carolina.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Corinthia';
    src: url('/assets/fonts/Corinthia.woff2') format('woff2'),
        url('/assets/fonts/Corinthia.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



body{
    position: relative;
}
.mad_title_style1{
    font-family: 'Corinthia';
    font-size: 82px;
}
/* hero bannner section */
.hero-banner h1{
    color: #fff;
    font-size: 60px;
}
.hero-banner h2 {
    font-family: 'Corinthia';
    color: #ce3d5f;
    font-size: 72px;
    font-weight: 300;
    margin-bottom: -20px;
}
/* end hero banner section */
.page-layout {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.65);
    z-index: 9;
    overflow: hidden;
}
.mobile-list li {
    
}
.social-mobile a{
    position: relative;
}
.social-mobile a span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}
.mobile-list > li > a {
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    padding: 17px 25px;
    text-align: start;
    color: #fff;
    background: #272627;
    border: 1px solid #eeeeee;
    font-family: 'Raleway', sans-serif;
    position: relative;
    font-weight: 600;
    transition: all 0.3s;
}
.hero-banner{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 1000px;
    width: 100%;
    background: purple;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 80px;
}
.greeting-back{
    background: #ce3d5f;
    position: relative;
}
.pattern-overlay{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: url('/assets/images/pattern.png');
    background-repeat: repeat;
    opacity: 0.1;

}
.right-image,.left-image{
    min-height: 450px;
    position: relative;
}
.greeting-wrap{
    padding: 3rem;
    position: relative;
    z-index: 1;
}
.greeting-wrap h2{
    color: #fff;
    text-transform: uppercase;
    position: relative;
    
}
.greeting-wrap p{
    color: #fff;
}
.right-image:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background: url('/assets/images/face-mask.jpg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}
.left-image:after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 200%;
    height: 100%;
    background: url('/assets/images/massage-therapy.jpeg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}
blockquote p:before {
    content: url('/assets/icons/blockquote.svg');
    position: absolute;
    left: 0;
    top: -10px;
    color: #ce3d5f;
    font-size: 140px;
    font-family: 'Rochester', cursive;
    width: 52px;
    height: auto;
    background: none;
    font-style: normal;
}
blockquote .mad_author .mad_title_style2 {
    font-family: 'Raleway', sans-serif;
    font-size: 44px;
    font-weight: 600;
    margin-top: 20px;
    line-height: 20px;
    color: #27090d;
}
.paralax_image_bg2 {
    background: #dedede;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.paralax-layout{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.7;
}
/* service list */
.service-list li{
    display: flex;
    padding: 10px 15px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dedede;
    margin-bottom: 20px;
}
.service-list li h4{
    margin-bottom: 10px;
    font-size: 22px;
    letter-spacing: -1px;
    font-weight: 400;
}
.service-list li .price{
    padding: 0 15px;
}
.service-list li .price span{
    font-size: 22px;
    font-weight: 400;
    color: #000;
}
.service-list li .price span::after{
    content: '₽';
    margin-left: 5px;
    font-size: 18px;
}
.service-list li p{
    margin-bottom: 0;
}
/* end service list */
/* owl navigation */
.owl-next span,.owl-prev span{display: none;}
.owl-next::before{content: '>'!important;}
.owl-prev::before{content: '<'!important;}
.mad_owl_next::before{content: '>'!important;}
.mad_owl_prev::before{content: '<'!important;}
/* tabs section */
.tabs_nav > li > span{
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    padding: 17px 25px;
    text-align: start;
    color: #fff;
    background: #272627;
    border: 1px solid #eeeeee;
    font-family: 'Raleway', sans-serif;
    position: relative;
    font-weight: 600;
    transition: all 0.3s;
  }
.tabs_nav > li > span.active{
    color: #fff;
    background: #ce3d5f;
}
.tabs_conrainer {
    border: 1px solid #eeeeee;
    min-height: 60px;
    display: flex;
    align-items: center;
    padding: 0 25px;
}
.tabs_conrainer p{
    color: #000;
    font-size: 18px;
    font-weight: bold;
}
#news .paralax_image_bg4{
    margin-bottom: 100px;
}
.logo img{
    height: 100px;
    width: auto;
}
.mobile-toggler{
    background: transparent;
    border: none;
    position: relative;
    z-index: 9999;
}
.mobile-toggler object{
    height: 20px;
    width: auto;
}
.mobile-toggler span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.mobile-menu {
    position: fixed;
    background: #272627;
    width: 70%;
    height: 100%;
    max-height: 100vh;
    z-index: 999;
    top: 75px;
    left: -100%;
    transition: all 0.3s;
}
.show-mobile{
    left: 0;
}
.social-mobile{
    display: flex;
    justify-content: start;
    align-items: center;
}
.mad_about{
    padding-top: 90px;
    padding-bottom: 0;
}
.mob-link-active{
    background: #ce3d5f!important;
}
/* mobile social section */
.social-mobile{
    display: flex;
    justify-content: start;
    align-items: center;
}
.social-mobile a{
    margin-right: 10px;
    padding: 10px;
    border-radius: 10px;
}
.social-mobile a object{
    display: block;
    height: 20px;
    width: auto;
}
.social-mobile a.vk{
    background: #4c75a3;
}
.social-mobile a.wa{
    background: #128C7E;
}
.social-mobile a.inst{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
.social-mobile a.tg{
    background: #0088cc;
}
/* end mobile section */
.mad_title_style2{
    font-family: 'Carolina'!important;
}
.cont-list li{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.cont-list li object{
    margin-right: 10px;
}
.cont-list li a{
    color: #fff;
    line-height: normal;
}
.footer {
    background: #272627;
    min-height: 120px;
    padding: 30px 0;
}
.footer-logo {
    padding: 30px 30px;
    position: absolute;
    top: -100px;
    background: #ce3d5f;
}
.footer-logo object{
    width: 200px;
}
.footer a{
    color:#ce3d5f;
}
@media (max-width:768px){
    .footer {
    background: #272627;
    min-height: 110px;
    padding: 30px 0;
    }
    .footer-logo {
        padding: 30px 30px;
        position: absolute;
        top: -80px;
        background: #ce3d5f;
    }
    .footer-logo object {
    width: 80px;
    }
    .service-list li {
        display: flex;
        padding: 10px 10px;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #dedede;
        margin-bottom: 10px;
    }
    .service-list li h4{
        font-size: 18px;
    }
    #services3 .tabs.style2 .tabs_content {
        padding: 15px 10px;
    }
    .section_image{
        margin-bottom: 0!important;
    }
    .hero-banner h2 {
        color: #ce3d5f;
        font-size: 42px;
        font-weight: 300;
        margin-bottom: -10px;
    }
    .hero-banner h1 {
        color: #fff;
        font-size: 35px;
    }
    .mad_title_style1{
        font-family: 'Corinthia';
        font-size: 40px;
    }
    .hero-banner {
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 800px;
        width: 100%;
        background: purple;
        display: flex;
        align-items: center;
        position: relative;
        margin-bottom: 80px;
    }
    #news .paralax_image_bg4{
        margin-bottom: 100px;
    }
    .logo img{
        height: 55px;
        width: auto;
    }
    .menu_wrap{
        display: none!important;
    }
    #header.header-main{
        position: fixed!important;
    }
    .mad_top_header{
        padding: 10px 0;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }
    .logo{
        margin-bottom: 0!important;
    }
    .mad_section.inset_none{
        margin-top: 50px;
    }
    h2{
        font-size: 35px;
    }
    .tabs_nav{
        width: 100%!important;
    }
    .tabs_content{
        width: 100%!important;
    }
    .separator_type_5_path {
        height: 55px;
        width: 100%;
        position: absolute;
        bottom: -1px;
        left: 0;
        z-index: 4;
        padding: 0;
    }
    .mad_testimonials{
        padding-top: 0;
    }
    .greeting-wrap{
        padding: 50px 0;
    }
    .greeting-last{
        padding-top: 0!important;
    }
}